header {
	display: flex;
	align-items: center;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	position: fixed;
	z-index: 1;
	width: 100%;
	border-bottom: 1px solid black;
	background-color: white;
	height: 80px;
	}

.logo {
	display: flex;
	align-items: center;
	flex-grow: 1;
	padding-left: 30px;
	color: MediumAquamarine;
}

body {
	margin: 0;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

header nav {
	padding-right: 40px;
}

a {
	text-decoration: underline;
	cursor: auto;
}

nav span {
	display: inline-block;
	padding: 20px 10px;
}

nav a {
	color: black;
}

h2 {
	font-size: 21px;
}

#content {
	display: flex;
	width: 1232px;
	margin: 0 auto 78px auto;
	padding-top: 116px;
}

.column {
	display: flex;
	flex-direction: column;
	margin-right: 32px;
}

.column.large {
	width: 630px;
}

.column.medium {
	width: 300px;
}

.column.small {
	width: 240px;
}

.column.small h3 {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin-top: 16px;
	margin-bottom: 41px;
}

.cookie {
	width: 100%;
}

/* div {
	border: 1px solid black;
} */

.image {
	height: 300px;
	margin-top: 15px;
	text-align: center;
	font-family: Georgia;
	font-weight: bold;
	font-size: 30px;
	color: white;
	display: flex;
}

.image p {
	margin-top: 0;
}

#image1 {
	background-image: url(../images/img-story-main.png);
	font-size: 40px;
	margin-top: 0px;
	text-align: left;
}

#image2 {
	background-image: url(../images/img-story-2.png);
}

#image3 {
	background-image: url(../images/img-story-3.png);
}

#image4 {
	background-image: url(../images/img-story-1.png);
}

.column.large .chapter {
	font-family: Georgia;
	font-size: 17px;
	color: black;
	width: 300px;
}

.column.large p {
	height: 205px;
}

.stories {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.bites {
	font-size: 12px;
	background-color: WhiteSmoke;
	font-family: Verdana;
	color: DimGray;
	margin: 0;
	border-bottom: 1px solid black;
	padding: 11px 16px;
	display: block;
}

#footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: MediumAquamarine;
	margin: auto;
	font-family: Verdana;
	font-size: 12px;
	width: 100%;
	height: 325px;
	margin: auto;
}

.myfoot {
	font-family: Georgia;
	font-size: 16px;
	font-weight: bold;
	color: white;
	display: inline-block;
	padding-right: 25px;
	border-right: 2px solid white;
}

footer nav {
	display: inline-block;
	padding-left: 25px;
}